// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Mono&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@main-color:#49636d;
@hover-color:#80979d;
@main-font:'PT Mono', monospace;
@title-font:'Open Sans Condensed', sans-serif;
.mainBorder(){
	border:1px black solid;
	
}
/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
} 
*, *:before, *:after {
	box-sizing: inherit;
  }

  body{
	font-family:@main-font;
	margin:0 5%;
}

h1,h2, h3, h4, h5 {
	font-size:10px;
	font-weight: bolder;
	font-family:@title-font;
  }
p{
	font-family: @main-font;
	font-size: 16px;
	@media (min-width: 500px){
		font-size: 1.5rem;
	}//closes p media
}//closes p
// nesting
.container {
	box-sizing: border-box
	
}

.mainHeader{
	background-color: silver;

}//closes main head

.navBar{
box-sizing: border-box;
width: 100%;
display: flex;
//background-color: red;
justify-content: center;
text-align: center;

@media (min-width: 900px){
	justify-content: flex-end;
	}
	
	.links{ 
width:80%;
display: flex;
flex-direction: column;
justify-content:space-evenly;

@media (min-width: 500px) {
	flex-direction: row;
	justify-content:space-between;
	}//closes media
a{
	text-decoration: none;
	padding: 2% 0;
	color:black;
	font-size: 1.5rem;
	
		
	}//closes media
}// closes a
} //closes links
// close navBar


img{
		width:65%;
		padding:4%;
}//closes img
.title{
	// .mainBorder;
	padding: 5% 0;
	@media (min-width: 500px) {
		padding: 2% 0;
	}
	h1{
		font-size: 4rem;
		padding: 5% 0;
		@media (min-width: 500px) {
			font-size: 6rem;
			padding: 2% 0;
		}
		@media (min-width: 900px) {
			font-size: 8rem;
			padding: 2% 0;
		}
	}//closes h1	
}//closes title
.desc{
	// .mainBorder;
	padding-bottom: 2%;
}
.b1{
	padding:2%;
}



 